body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #f7f3ef;
}
.container {
  display: flex;
  height: 100vh;
}
.left-section {
  flex: 1;
  background: #f9f4ef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2f4944;
}
.logo {
  width: 130px;
  margin-bottom: 20px;
}
.left-section h1 {
  font-size: 40px;
  text-align: left;
}
.left-section span {
  font-weight: 700;
}
.right-section {
  flex: 1;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form {
  width: 80%;
  max-width: 400px;
}
.input-group {
  margin-bottom: 20px;
  position: relative;
}
label {
  font-weight: 600;
  color: #2f4944;
}
input {
  width: 100%;
  padding: 10px;
  border: 2px solid #2f4944;
  border-radius: 8px;
  outline: none;
  margin-top: 5px;
}
input:focus {
  border-color: #0f3d3e;
}
.forgot {
  font-size: 13px;
  position: absolute;
  right: 0;
  bottom: -18px;
  text-decoration: none;
  color: #0f3d3e;
}
.captcha-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}
#captchaImage {
  height: 50px;
  border: 1px solid #ccc;
}
#refreshCaptcha {
  border: none;
  background: transparent;
  font-size: 22px;
  cursor: pointer;
}
.login-btn {
  background: #2f4944;
  color: #fff;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
.login-btn:hover {
  background: #1f3330;
}
.note {
  font-size: 14px;
  margin-top: 15px;
}
.note a {
  color: #c47f00;
  text-decoration: none;
}
